:root {
  --main-blue: #0078d7;
  --text-dark: #222;
  --text-light: #fff;
  --font-sans: "Noto Sans JP", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-sans);
  color: var(--text-dark);
  background-color: var(--main-blue);
  color: var(--text-light);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
