.hero {
  text-align: center;
  padding: 100px 20px;
}

/* アイコン画像 */
.icon img {
  margin: 40px 0;
  transition: transform 0.6s ease;
}

.icon img:hover {
  transform: translateY(-5px) scale(1.05);
}

/* ボタン */
.btn {
  display: inline-block;
  background-color: #ff5002;
  color: white;
  padding: 18px 68px;
  margin: 20px 0px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 0 #c63b00;
  animation: shake 2.5s infinite; /* 震えるアニメーション */
  transition: all 0.3s ease;
}

/* 震えるアニメーション */
@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(5px);
  }
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  animation: none; /* ホバー時は震えを止める */
}

.hero {
  padding: 70px 15px;
  text-align: center;
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  margin-left: -2rem; /* 左寄せ */
}

.hero h1 span {
  font-size: 2rem; /* “×” のバランスを調整 */
}

.hero p {
  font-size: 0.95rem;
}

.btn {
  padding: 10px 25px;
  font-size: 0.95rem;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
}

/* -------------------- スマホ小（420px以下） -------------------- */
@media (max-width: 420px) {
  .hero h1 {
    font-size: 2.5rem;
    margin-left: -1.5rem; /* 左寄せ */
  }

  .hero h1 span {
    font-size: 1.2rem; /* “×” のバランスを調整 */
  }
  .hero p {
    font-size: 0.8rem;
  }
}
